.inputs {
    position: absolute;
    bottom: 0;
    color: red;
    /* border: 1px solid saddlebrown; */
   /* width: fit-content; */
}

.txt {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    width: -webkit-fill-available;

}